@import url('https://font.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}
body{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    background: #6563ff;

}
.wrapper{
    height:400px;
    width:400px;
    padding:25px;
    background:#f8f8f8;
    border-radius:10px;

}

.cards, .card .v{
    display:flex;
    align-items:center;
    justify-content:center;

}




               .cards{
                height:100%;
                width:100%;
                flex-wrap:wrap;
                justify-content:space-between;
               }
.cards .card{
    cursor:pointer;
    height:calc(100% / 4 - 10px);
    width:calc(100% / 4 - 10px);
}

.cards .card .v{
    width:100%;
    height:100%;
    background:#fff;
    border-radius:7px;
    
}
.card .fv{
    display:none;
}


.card .bv img{

    max-width:45px;
}

    
.cards{
    list-style:none;
    padding:0;
    margin:0;

}